<div class="row">
    <H2>Welcome to Mote Config!</H2>
    <div class="span3  well">
        <div class="btn-group btn-group-vertical span2">
            <p><%= link_to "Create New", 'motes/new', :class => "btn btn-large btn-block"%></p>
            <p><%= link_to "Download Existing", motes_path, :class => "btn btn-large btn-block"%></p>
        </div>
    </div>

