<h1>Editing radio</h1>

<%= render 'form' %>
<div class="span3">
<%= link_to 'Show', @radio,:class => "btn btn-large btn-block" %> |
<%= link_to 'Back', radios_path,:class => "btn btn-large btn-block" %>
</div>
