<h1>Editing sensor</h1>

<%= render 'form' %>
<div class="span3">
<%= link_to 'Show', @sensor, :class => "btn btn-large btn-block" %> |
<%= link_to 'Back', sensors_path,:class => "btn btn-large btn-block" %>
</div>
