// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#pallete { 
	width: 65%;
	list-style-type: none; 
	list-style-position: inside;
	min-height: 12em;
}
    .pallete li { float: left; width: 58px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
    .pallete li img { width: 58px; height: 50px; cursor: move; }
 
    .dropbox { float: center; width: 58px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
    .dropbox li { float: left; width: 58px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
    .transBox { float: left; width: 58px; height: 500px; 
        padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
    .transBox li{ float: left; width: 58px;}
    .field h4 { line-height: 16px; margin: 0 0 0.4em; }
    .field h4 .ui-icon { float: left; }
    .field .gallery h5 { display: none; }