<div class="row"">
    <div class="span4 well">
        <h1>New mote</h1>

        <%= render 'form' %>
        <div class="span2">
            <%= link_to 'Back', motes_path,:class => "btn btn-large btn-block" %>
        </div>
    </div>
</div>
